h2{
    cursor: pointer;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header li{
    transition: 300ms;
    font-size: 1.3rem;
}

header li:hover{
    color: #d7d9c5;
    font-size: 1.5rem;
}
   

