* {
    box-sizing: border-box;
}

.search-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.search-container input {
    font-size: 17px;
    width: 100%;
    position: relative;
    background-color: #253125;
    color: #e3f08f;
    border-radius: 8px;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.search-container button {
    position: absolute;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: none;
    transform: translateX(-100%);
    margin-top: 6px;
    padding-right: 10px;
    color: #e3f08f;
    transition: 300ms;

}

.search-container button:hover {
    color: #ffffff;

}