*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
}


/*Búsqueda */






#order-by:hover{
    background-color: #52b118;
}

option{
    cursor: pointer;
}

.sort-buttons-button:hover {
    background-color: #88b070;
}

.sort-buttons-button i {
    font-size: 14px;
    color: black;
}

/*Productos*/

/* En tu archivo CSS */
#body {
    display: flex;
    flex-direction: column; /* Si necesitas que los elementos estén en columna */
    justify-content: center; /* Alineación vertical */
    align-items: center; /* Alineación horizontal */
    height: 100vh; /* Asegúrate de ocupar todo el alto de la ventana */
    margin: 0; /* Elimina márgenes si hay */
    padding: 0; /* Elimina padding si hay */
    text-align: center; /* Opcional, centra el texto */
    box-sizing: border-box; /* Asegúrate de que el padding no desborde */
}

#product-list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(350px, 1fr)
    );
    gap: 20px;
}



.loading {
    display: block;
    color: #888;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}


/****** Paginación ******/
.pagination-position{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.pagination button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #99C080; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%; /* Hace que los botones sean redondos */
    transition: background-color 0.3s;
}

#pagination-numbers {
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.products-per-page {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #99C080;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #88b070; 
}

/*botones desactivados */
.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*responsive*/
@media (max-width: 1300px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }
}

/*responsive*/
@media (max-width: 900px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
}



/*responsive*/
@media (max-width: 700px) {
    #product-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }
    .sort-buttons{
        flex-direction: column;
        
    }
    .search-bar{
        margin-right: 5%;
        margin-left: 5%;
    }
    #order-by{
        margin-top: 0;
    }
}

