
/*Productos*/

#product-list {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(350px, 1fr)
    );
    gap: 20px;
}



/****** Paginación ******/


#pagination button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #e3f08f; 
    color: #253125;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%; /* Hace que los botones sean redondos */
    transition: background-color 0.3s;
}


/*botones desactivados */
#pagination button:disabled {
    background-color: #8a8484;
    cursor: not-allowed;
}



